# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: ollama/ollama
  pullPolicy: IfNotPresent
  tag: "0.3.10"

service:
  type: NodePort
  port: 11434
  targetPort: 11434
  nodePort: 32434 

container:
  mountPath: "/root/.ollama"

persistentVolume:
  storage: 50Gi
  hostPath: /path/to/ollama-data

persistentVolumeClaim:
  storage: 50Gi

nodeSelector: {}

tolerations: []

affinity: {}
