replicaCount: 1

image:
  repository: agerardin/aithena-services
  pullPolicy: IfNotPresent
  tag: "1.1.3"

service:
  type: NodePort
  port: 80
  targetPort: 80
  nodePort: 32080 

container:
  mountPath: "/mnt/config"
  # resources:
  #   requests:
  #     memory: "500Mi"
  #     cpu: "1"
  #   limits:
  #     memory: "2Gi"
  #     cpu: "1"

secrets:
  - name: aithena-services-secret

env:
  - name: OLLAMA_HOST
    value: "http://service-ollama.test-aithena.svc.cluster.local:11434"
    - name: POSTGRES_HOST
    value: db_host
  - name: POSTGRES_USER
    value: db_user
  - name: POSTGRES_PASSWORD
    value: db_passwd
  - name: POSTGRES_PORT
    value: 5432
  - name: POSTGRES_DB
    value: db_name

persistentVolume:
  storage: 5Mi
  hostPath: /path/to/aithena-services-data

persistentVolumeClaim:
  storage: 5Mi

nodeSelector: {}

tolerations: []

affinity: {}
